
*.tfstate
*.tfstate.*
.terraform/
terraform.tfstate
terraform.tfstate.backup
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.backup
crash.log
terraform.tfvars
*.exe

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.backup
crash.log
terraform.tfvars
*.exe
